* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(https://media.tenor.com/Yzw3PsF38-AAAAAC/emoji-wacky.gif);
    background-color: rgba(0, 149, 255, 0.288);
    margin:10px;
    font-size: 30px;
}



#titulo1 {
    font-size: 45px;
    font-family: 'PT Sans Narrow';
    text-align: center;
    color: rgb(4, 0, 255);
}

a, button {
    padding: 40px;
    font-size: 50px;
    color: brown
}

.sugg{
    color: yellowgreen;
}



